BOT_TOKEN=COPY_TOKEN_FROM_BOTFATHER_HERE
OPENROUTER_KEY=COPY_TOKEN_FROM_OPENROUTER_HERE
#WORKER_URL=PASTE_YOUR_CLOUDFLARE_URL_HERE_IF_YOU_WISH # Find more info in config.py

#Don't forget to change the extension to .env